[run]
omit =
    src/models/data/rest_api/v1/entitybase/request
    src/models/data/rest_api/v1/entitybase/response
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.
    if TYPE_CHECKING:
    @abstractmethod
