name: lint
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: 'poetry'
      - run: pip install --upgrade pip wheel
      - run: poetry install --with=dev
      - run: poetry run ruff check .
      - run: poetry run mypy
      - run: poetry run vulture
      - run: poetry run radon cc -a -s src/
